#profileCard, #passwordCard, #editProfileCard {
    width: 375px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: auto;
    padding-top: 15px;
    border-radius: 15px;
    background-color: #fff;
}

.profileCaption {
    font-weight: bold;
    color: #0000CD;
    margin: 0px;
}

.profileParagraph, .profileButtons, .passwordInputs, .editProfileInputs {
    font-size: 1rem;
}

.profileParagraph {
    margin: 0px 0px 10px 0px;
}

.profileHeader {
    margin-top: 0px;
}

.profileButtonsDiv {
    margin-top: 10px;
    padding: 15px;
    border-radius: 0px 0px 15px 15px;
    background-color: #9932CC;
}

.profileButtons {
    padding: 3px 5px;
    width: 175px;
    background-color: #0000CD;
    color: #FFF;
}

.passwordInputs, .editProfileInputs {
    padding: 2px 4px;
    width: 225px;
}

.editProfileInputs {
    margin-bottom: 10px;
}

#employee-name, #employee-position {
    padding-left: 10px;
    float: right;
}

#employee-name {
    color: #0000CD;
    margin: 20px 0px 0px 0px;
}

#employee-position {
    margin: 0;
    clear: both;
}

#profilePosition {
    width: 240px;
}

#btn-profile, #btn-admin {
    background-color: #9932CC;
    color: #FFF;
}

#p-new-user-msg {
    text-align: center;
    color: #0000CD;
    font-size: 1.125rem;
    padding-top: 10px;
    clear: both;
}

@media (max-width: 500px) {
    #employee-name {
        font-size: 1rem;
        margin-top: 5px;
    }

    #employee-position, #p-new-user-msg, .profileHeader {
        font-size: 0.75rem;
    }

    #p-new-user-msg {
        padding-top: 15px;
        margin-bottom: 0;
    }

    #profileCard, #editProfileCard, #passwordCard, #profilePosition {
        width: 90%;
    }

    #profileCard, .profileParagraph, .profileButtons, .passwordInputs, .editProfileInputs, .profileCaption {
        font-size: 0.6rem;
    }

    .editProfileInputs, .passwordInputs {
        width: 85%;
    }

    .profileButtons {
        width: 75%;
        max-width: 150px;
    }
}