#profile-card {
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: auto;
    background-color: #fff;
}

.profile-p {
    font-size: 17px;
    margin: 0px 0px 10px 0px;
}

.profile-caption {
    font-weight: bold;
    color: blue;
    margin: 0px;
}

#profileHeader {
    margin-top: 0px;
}