body {
    font-family: Roboto, 'Droid Sans', Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
}

.wrapper {
    background: #F5F5F5;
    -moz-box-shadow: 0 0 10px rgba(0,0,0);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0);
    box-shadow: 0 0 10px rgba(0,0,0);
    margin: 16px auto;
    max-width: 1080px;
    padding: 2.25%;
    width: 85%;
    height: 825px;
    position: relative;
}

#app-logo {
    width: 75px;
    height: 75px;
}

#app-name {
    color: #0000CD;
    font-size: 50px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    text-shadow: 5px 5px #558ABB;
}

#para-header {
    height: 50px;
    margin-top: 5px;
    text-align: center;
}

#app-desc-span {
    font-size: 14px;
    border: solid 1px #9932CC;
    color: #9932CC;
    border-radius: 15px;
    padding: 2px 10px;
}

#div-signup-signin {
    padding-bottom: 50px;
}

#div-signup {
    background: rgb(245, 245, 245, 0.85);
    margin: 15px 15px 0px 0px;
    padding: 15px;
    border: solid 1px grey;
    float: right;
    clear: both;
}

#div-signin {
    background: rgb(245, 245, 245, 0.85);
    margin: 15px 15px 0px 0px;
    padding: 15px;
    border: solid 1px grey;
    float: right;
}

#btn-sign-in {
    display: block;
    margin-top: 15px;
    width: 315px;
}

#btn-create-user {
    display: block;
    background-color: #0000CD;
    color: #FFF;
    width: 315px;
}

.button {
    padding: 2px 5px;
    font-size: 15px;
    width: 100px
}

.input {
    width: 300px;
    margin-bottom: 10px;
    padding: 2px 5px;
    font-size: 17px;
    display: block;
}

#tbl-events {
    width: 100%;
}

#tbl-event {
    width: 100%;
}

.th-events, .td-events, .th-event, .td-event {
    text-align: center;
}

.td-events {
    padding: 4px 0px 4px 0px;
}

#div-time-events, #div-time-event {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 15px;
}

.th-event {
    color: #ffffff;
}

#position {
    padding: 2px 5px;
    font-size: 17px;
    width: 315px;
    margin-bottom: 10px;
    display: block;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#password-confirmation {
    margin-bottom: 15px;
}

#new-event {
    background-color: #008000;
    color: #FFF;
    padding: 1.5px 4px;
    border-radius: 6px;
}

#app-branding {
    position: absolute;
    bottom: 10px;
}